.main-container-content{
    background-color: black;
    height: 1100px;
    
}
.p-section{
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 35px;
}
.line{
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #3772FF;
    margin-top: 55px;
    margin-left: 35px;
    border: none;

}
.tutorial{
    background: #ABE8FF;
    position: absolute;
    width:667px;
    height: 86px;
    margin-top: 95px;
    margin-left: 35px;
    border-radius: 10px;
}
.text{
    position: absolute;
    color: #2B2557;
    font-size: 14px;
    line-height: 26px;
    margin-left: 33px;
    margin-top: 13px;
}
.button{
    position: absolute;
    color: black;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 140px;
    margin-left: 65px;
    padding: 5px;
    font-size: 12px;
    width: 50px;
}
.icon{
    position: absolute;
    margin-top: 110px;
    margin-left: 560px;
}
.cross{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    margin-left: 690px;
    margin-top: 90px;

}
.rewards{
    position: absolute;
    margin-top: 210px;
    width:667px;
    height: 165px;
    background-color: #191B20;
    margin-left: 33px;
    border-radius: 24px;
}
.your-reward{
    position: absolute;
    color: #FFFFFF;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.amount{
    position: absolute;
    margin-left: 40px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #FFFFFF;

}
.b1{
    
    background: #353945;
    border-radius: 11px;
    color: white;
    width: 79.66px;
    height: 25.08px;
    margin-top: 110px;
    padding: 3px;
    font-size: 12px;
}
.customLink{
    position: absolute;
    background: #3772FF;
    border-radius: 10px;
    color: white;
    margin-top: 70px;
    margin-left: 180px;
    padding: 5px;
    width: 142px;
    height: 36px;
    font-size: 14px;
}
.fee{
    position: absolute;
    margin-top: 400px;
    width:320px;
    height: 177px;
    background-color: #191B20;
    border-radius: 24px;
}
.bag{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}
.topText{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 20px;

}
.refLink{
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #808191;
    margin-left: 20px;
    margin-top: 65px;
}
.link{
    position: absolute;
    margin-top: 100px;
    width:280px;
    height: 50px;
    background-color: #242731;
    margin-left: 20px;
    mix-blend-mode: normal;
    border-radius: 8px;
}
.ref-link{
    position: absolute;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
}
.tabs{
    position: absolute;
    margin-top: 600px;
    margin-left: 33px;
}
.label{
    color: white;
}
.dataTable{
    position: absolute;
    margin-top: 670px;
    margin-left: 33px;
    height: 300px;
    width: 660px;
    border-radius: 8px;

}
/* .rows{
    background-color:  #191B20;
    height: 10px;
    width: 950px;
    border-radius: 8px;
} */
.wallt{
    margin-top: 0px;
    margin-right: -35px;
    padding: 15px;
}

.walletlink{
    position: absolute;
    border: 1px solid #3772FF;
    background: transparent;
    border-radius: 10px;
    margin-left: 530px;
    margin-top: 25px;
    width: 180px;
    height: 36px;
    color: white;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 15px;
}
.tier{
    position: absolute;
    background-color: #A3E3FF;
    padding: 2px;
    border-radius: 5px;
    margin-left: 135px;
    margin-top: -18px;
    color: #3772FF;
}

table{
     border-collapse: collapse;
     max-width: 700px;
     width: 100%;
    border-radius: 12px;
     margin: auto;
}
table th, table td{
    /* border: 1px solid black;s */
    padding: 5px;
    color: #808191;
    font-size: 10px;
    line-height: 24px;
    justify-content: center;
    background: #24273166;
    height: 40px;
}
.row{
    justify-content: center;
}
.image{
    margin-left: 12px;
}
.asset{
    margin-left: 50px;
    margin-top: -40px;
    color: white;
}
.type{
    margin-left: 50px;
    margin-top: -7px;
}
.amt{
    color: white;
    margin-left: 30px;

}
.exp{
    margin-left: 40px;
    margin-top: -10px;
}
.uid{
    color: white;
    margin-left: 60px;
}
.earn{
    color: white;
    margin-left: 20px;
   margin-top: -12px;

}
.reflink{
    color: #808191;
    font-size: 10px;
   margin-left: -150px;
   margin-top: 30px;
}
.send{
    width: 9px;
    height: 9px;
    margin-left: 2px;
}
.btn{
    width: 45px;
    height:15px;
    border-radius: 5px;
    font-size: 8px;
    margin-left: 10px;
    background-color: #808191;
    color: white;
    padding-bottom: -5px;
}