*{
    font-family:'Poppins';
    margin: 0;
    padding: 0;
    
}
.body{
    background-color: black;
    width: 100%;
}
.App{
    width: auto;
    height: 100%;
    display: flex;
}
.topbar{
    background-color: #3772FF;
    height: 36px;
    width: 1439px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}
.content{
    position: absolute;
    margin-left: 35%;
    margin-top: 8px;
}
.desc{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 0.75px;
    
}
.leftsidebar{
    width: 270px;
    height: 1030px;
    background-color: black;

}
.maincontent{
    width: 800px;

}
.rightbar{
    width: 370px;
     /* height: 100%; */
 background-color: black; 


}